### In this notebook, I will try to explain how to parse an XML file and then convert them to the CSV files. It is an important step since Tensorflow Object Detection API requires input data as TFRecord format and converting XML files to CSV is literally the first step to create a TFRecord data. Later we will combine CSV files with input images to create TFRecords for our models.

In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\FURKANG'

In [3]:
import sys

In [4]:
sys.version

'3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]'

In [5]:
import glob

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

In [9]:
# THIS IS "THE XML LIBRARY" FOR PYTHON.
import xml.etree.ElementTree as ET

In [10]:
os.chdir(r"C:\Users\FURKANG\Desktop\annotation2\annotation1\out1")

In [11]:
xml_files = glob.glob("*.xml")
for i in xml_files:
    print(i)

annotation1_1_last.xml
annotation1_2_last.xml
annotation1_3_last.xml
annotation1_4_last.xml
annotation1_5_last.xml
firstproject1.xml
firstproject2.xml
firstproject3.xml
firstproject4.xml
firstproject5.xml

In [12]:
# We must first parse xml file to create an ElementTree
tree = ET.parse("firstproject1.xml")

In [13]:
type(tree)

xml.etree.ElementTree.ElementTree

In [14]:
# Necessary for further operations.
root = tree.getroot()

In [15]:
type(root)

xml.etree.ElementTree.Element

In [16]:
root

In [17]:
#Lets see how many parts our xml file has.
len(root)

5

In [18]:
# check their names
for i in root:
    print(i)

<Element 'path' at 0x0000027189A66E08>
<Element 'outputs' at 0x0000027189C09A48>
<Element 'time_labeled' at 0x0000027189DBDF48>
<Element 'labeled' at 0x0000027189DBDF98>
<Element 'size' at 0x0000027189DC0048>

In [19]:
type(root[0])

xml.etree.ElementTree.Element

In [20]:
type(root[1])

xml.etree.ElementTree.Element

In [21]:
#check their lengths
for i in root:
    print(len(i))

0
1
0
0
3

In [22]:
#  SEE what are the elements of "size" ( root[4] )
for i in root[4]:
    print(i)
    print(i.text)

<Element 'width' at 0x0000027189DC0098>
1000
<Element 'height' at 0x0000027189DC00E8>
600
<Element 'depth' at 0x0000027189DC0138>
3

In [48]:
for i in root.findall("outputs"):
    print(type(i))
    print(len(i))

<class 'xml.etree.ElementTree.Element'>
1

In [30]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[0][0])
        print(objects[0][0].text)

<Element 'name' at 0x0000027189C09AE8>
id1

In [32]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[0][1][0])

<Element 'keyframe' at 0x0000027189C09B38>

In [36]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[0][1][0][0])
        print(objects[0][1][0][0].text)
        print(objects[0][1][0][1])
        print(objects[0][1][0][1].text)
        print(objects[0][1][0][2])
        print(objects[0][1][0][2].text)
        print(objects[0][1][0][3])
        print(objects[0][1][0][3].text)
        print(objects[0][1][0][4])
        print(objects[0][1][0][4].text)

<Element 'time' at 0x0000027189C09B88>
0.00
<Element 'xmin' at 0x0000027189C09BD8>
418
<Element 'ymin' at 0x0000027189C09C28>
117
<Element 'xmax' at 0x0000027189C09C78>
495
<Element 'ymax' at 0x0000027189C09CC8>
265

<font size = 5>Lets further investigate what our XML formatted data includes.

In [37]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[0][1][0][4])

<Element 'ymax' at 0x0000027189C09CC8>

In [38]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[0][1][0][4].text)

265

In [108]:
list1 = []
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        value = (int(objects[0][1][0][4].text), int(objects[0][1][0][3].text))
        print(value)
        list1.append(value)
        print(list1)

(265, 495)
[(265, 495)]

In [39]:
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        print(objects[24][0].text)

id25

In [40]:
import math

In [60]:
xml_list = []
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        for item in objects:
            for k in range(len(item[1])):
                value = (item[0].text, float(item[1][k][0].text),item[1][k][1].text,item[1][k][2].text,
                         item[1][k][3].text, item[1][k][4].text, 
                         os.path.join(os.getcwd(), "img_{}".format(math.ceil(float(item[1][k][0].text)))))
                xml_list.append(value)
column_names = ["name_id", "time","x_min", "y_min", "x_max", "y_max","image_path"]
xml_df = pd.DataFrame(xml_list, columns=column_names)
xml_df.head(10)

,name_id,time,x_min,y_min,x_max,y_max,image_path
0,id1,0.00,418,117,495,265,C:\Users\FURKANG\Desktop\annotation2\annotatio...
1,id1,3.50,418,118,494,265,C:\Users\FURKANG\Desktop\annotation2\annotatio...
2,id1,5.15,421,115,496,261,C:\Users\FURKANG\Desktop\annotation2\annotatio...
3,id1,6.55,418,113,492,258,C:\Users\FURKANG\Desktop\annotation2\annotatio...
4,id1,7.33,420,121,493,265,C:\Users\FURKANG\Desktop\annotation2\annotatio...
5,id1,8.32,417,117,489,260,C:\Users\FURKANG\Desktop\annotation2\annotatio...
6,id1,9.35,423,117,494,259,C:\Users\FURKANG\Desktop\annotation2\annotatio...
7,id1,10.35,428,117,498,258,C:\Users\FURKANG\Desktop\annotation2\annotatio...
8,id1,11.35,421,120,502,278,C:\Users\FURKANG\Desktop\annotation2\annotatio...
9,id1,12.35,417,117,497,274,C:\Users\FURKANG\Desktop\annotation2\annotatio...

In [61]:
xml_df.tail(10)

,name_id,time,x_min,y_min,x_max,y_max,image_path
857,id25,57.66,72,249,205,369,C:\Users\FURKANG\Desktop\annotation2\annotatio...
858,id25,58.66,0,300,132,420,C:\Users\FURKANG\Desktop\annotation2\annotatio...
859,id25,59.62,5,299,136,419,C:\Users\FURKANG\Desktop\annotation2\annotatio...
860,id25,60.56,10,302,140,422,C:\Users\FURKANG\Desktop\annotation2\annotatio...
861,id25,61.61,13,306,142,426,C:\Users\FURKANG\Desktop\annotation2\annotatio...
862,id25,62.69,258,184,386,304,C:\Users\FURKANG\Desktop\annotation2\annotatio...
863,id25,63.68,484,85,579,244,C:\Users\FURKANG\Desktop\annotation2\annotatio...
864,id25,64.65,566,41,660,199,C:\Users\FURKANG\Desktop\annotation2\annotatio...
865,id25,65.63,597,12,662,145,C:\Users\FURKANG\Desktop\annotation2\annotatio...
866,id25,66.65,1008,186,1072,318,C:\Users\FURKANG\Desktop\annotation2\annotatio...

In [88]:
## To be continued...

dict_f = {}
for member in root.findall("outputs"):
    for objects in member.findall("object"):
        for k in range(len(objects)):
            if float(objects[k][1][0][0].text) == 0.0:  
                values = (objects[k][0].text, objects[k][1][0][0], float(objects[k][1][0][0].text))
                print(values)

('id1', <Element 'time' at 0x0000027189C09B88>, 0.0)
('id2', <Element 'time' at 0x0000027189C2C778>, 0.0)
('id3', <Element 'time' at 0x0000027189C33368>, 0.0)
('id4', <Element 'time' at 0x0000027189C6EEF8>, 0.0)
('id5', <Element 'time' at 0x0000027189C8C728>, 0.0)
('id6', <Element 'time' at 0x0000027189CAB318>, 0.0)
('id7', <Element 'time' at 0x0000027189CBA728>, 0.0)
('id8', <Element 'time' at 0x0000027189CD2BD8>, 0.0)
('id9', <Element 'time' at 0x0000027189CEC4A8>, 0.0)
('id10', <Element 'time' at 0x0000027189D0B098>, 0.0)
('id11', <Element 'time' at 0x0000027189D26A48>, 0.0)
('id12', <Element 'time' at 0x0000027189D420E8>, 0.0)

In [150]:
column_names = ["image_path", "time", "name_id", "x_min", "y_min", "x_max", "y_max"]